/*TIDDLER FRAMES*/

.tc-tiddler-frame.tc-tiddler-view-frame.tc-tiddler-exists {padding-top:5px;padding-bottom:0px;padding-left:15px;padding-right:15px;}

.tc-tiddler-frame.tc-tiddler-edit-frame.tc-tiddler-exists {padding-top:5px;padding-bottom:0px;padding-left:15px;padding-right:15px;}
